$red: #d35266;
$grey: #888;
$black: #383838;
$font-g: 'Montserrat', sans-serif;
$font-h: 'Roboto', sans-serif;

.font-1 {
  font-family: $font-g;
}

.font-2 {
  font-family: $font-h;
}

.bg-light-grey {
  background-color: rgb(226, 226, 226);
}

.bg-red {
  background-color: $red;
}

.color-red {
  color: $red;
}

.bg-grey {
  background-color: $grey;
}

.color-grey {
  color: $grey;
}

.bg-black {
  background-color: $black;
}

.color-black {
  color: $black;
}

.nav {
  display: flex;
  background-color: $black;
}

.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 13px;

  h2 {
    font-size: 13px;
    margin-top: 5px;
  }
}

.nav-2 {
  display: flex;
  justify-content: space-around;
  flex: 3;
  font-size: 12px;
  margin-top: 5px;
}

.nav-3 {
  display: flex;
  align-items: center;
  flex: 1;
}

.link-hover {
  transition: all 1s;
}

.link-hover:hover {
  color: $red;
}

.nav-btn-hover {
  background-color: $red;
  color: white;
  transition: all 1s;
}

.nav-btn-hover:hover {
  color: black;
  background-color: #d1203b;
}

.form-btn-hover {
  background-color: $black;
  color: white;
  transition: all 1s;
}

.form-btn-hover:hover {
  background-color: white;
  color: black;
}

.hot-ads-hover {
  border: 1px solid $black;
  border-radius: 50%;
  transition: all 0.5s;
}

.hot-ads-hover:hover {
  background-color: $black;
}

.hot-ads-text {
  font-size: 12px;
}

.hot-ads-img {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/814380/header.jpg?t=1603904569) no-repeat;
  background-size: cover;
  background-position: center;
}

.arrow-hover {
  transition: all 0.5s;
}

.arrow-hover:hover {
  color: $red;
  cursor: pointer;
}

.plus-hover {
  transition: all 1s;
}

.plus-hover:hover {
  color: black;
  transform: scale(1.3);
  cursor: pointer;
}

.check-border {
  border-bottom: 1px solid $black;
  margin: 5px;
  padding-bottom: 5px;
}

.ad-sub {
  font-size: 13px;
}

.ad-p-1 {
  font-size: 18px;
}

.ad-p-2 {
  font-size: 10px;
}

.footer-title {
  border-bottom: 1px solid $red;
}

footer {
  margin-top: 100px;
}

.footer-2 {
  justify-content: center;
}

.results-img-1 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-2 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/960090/header.jpg?t=1612862372) no-repeat;
}

.results-img-3 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-4 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-5 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-6 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-7 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-8 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-9 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img-0 {
  background: url(https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg?t=1611793703) no-repeat;
}

.results-img,
.results-img-1 {
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .footer-2 {
    justify-content: space-between;
  }

  .nav-1 {
    font-size: 25px;

    h2 {
      font-size: 25px;
    }
  }

  .nav-2 {
    font-size: 20px;
  }

  .nav-3 {
    font-size: 20px;
  }

  .search-div {
    padding-left: 80px;
  }

  .flex {
    display: flex;
  }

  .search-img {
    width: 200px;
    flex: 1;
  }

  .search-txt-div {
    flex: 3;
    font-size: 10px;
  }

  .results-img {
    height: 200px;
    width: 250px;
  }

  .result-txt {
    font-size: 13px;
  }

  .form-txt {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .search-div {
    padding-left: 220px;
  }

  .search-img {
    width: 320px;
    height: 100%;
    flex: 1;
  }

  .hot-ads-img {
    background: url(https://cdn.akamai.steamstatic.com/steam/apps/814380/header.jpg?t=1603904569) no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  .hot-ads-text {
    font-size: 20px;
  }

  .result-txt {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .search-div {
    padding-left: 420px;
  }
}

@media (min-width: 1600px) {
  .search-div {
    padding-left: 640px;
  }
}
